<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gitter IRC Dashboard</title>

        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <style>
            body    { padding-top:50px; }
        </style>
    </head>
    <body>